
/*Footer css start*/
.footer .footer-cont{
    width: auto;
    height: auto;
    background-color: white;
    -webkit-box-shadow: 1px 5px 15px 5px  #f4b6b6; 
    box-shadow: 1px 5px 15px 5px  #f4b6b6;
    /* box-shadow: 0 0 0 5px rgb(204 235 255 / 100%); */
}

.footer .desc{
  font-family: 'Montserrat-Regular';
  font-size: 12.7px;
  font-weight: bold;
  margin-top: 8px;
  letter-spacing: 1px;
}

.footer a{
  color: black;
}

/* .footer .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 90%;
  min-width: 90%;
  margin: 24px 0;
  margin-left: 60px;
  border: 0.5px solid #61abef;
} */

.footer .footer-border {
    /* border-bottom: solid 2px #61abef; */
    min-width: 100%;
    padding-bottom: 2.2rem;
}

.footer p{
  font-family: 'Montserrat-Regular';
}

.footer ul{
  padding: 0px;
}

.footer li{
  display: inline-block;
}

.social-media{
  padding-left: 25px;
  font-size: 25px;
}
